<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Version</key>
		<integer>1</integer>
		<key>Extension Name</key>
		<string>Redact</string>
		<key>Extension Identifier</key>
		<string>de.marcgoertz.popclip.extension.redact</string>
		<key>Extension Description</key>
		<string>Redact the selected text.</string>
		<key>Actions</key>
		<array>
			<dict>
				<key>After</key>
				<string>paste-result</string>
				<key>Image File</key>
				<string>redact.png</string>
				<key>Script Interpreter</key>
				<string>/usr/bin/php</string>
				<key>Shell Script File</key>
				<string>redact.php</string>
				<key>Title</key>
				<string>Redact</string>
			</dict>
		</array>
		<key>Options</key>
		<array>
			<dict>
				<key>Option Identifier</key>
				<string>symbol</string>
				<key>Option Label</key>
				<string>Redacting symbol</string>
				<key>Option Type</key>
				<string>string</string>
				<key>Option Default Value</key>
				<string>▬</string>
			</dict>
		</array>
	</dict>
</plist>
