<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<integer>1</integer>
	<key>Extension Name</key>
	<string>Jira ID</string>
	<key>Extension Identifier</key>
	<string>de.marcgoertz.popclip.extension.jira-id</string>
	<key>Extension Description</key>
	<string>Opens a Jira ticket by its ID in your default browser.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Open in Jira</string>
			<key>Image File</key>
			<string>jira.png</string>
			<key>Shell Script File</key>
			<string>jira.sh</string>
			<key>Stoppable</key>
			<true/>
			<key>Regular Expression</key>
			<string>^[a-zA-Z]+-\d+$</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>jira</string>
			<key>Option Label</key>
			<string>Jira URL (w/o trailing slash)</string>
			<key>Option Type</key>
			<string>string</string>
		</dict>
	</array>
</dict>
</plist>
